.prize{
	border: 1px solid #eee;
	.pic{
		.image{
			width: 100%;
		}
	}
	.text{
		.prize-name{
			text-align: center;
			padding-bottom: 10rpx;
			font-weight:bold;
		}
		.exchange{
			display: flex;
			justify-content: space-between;
			.prize-points{
				width: 40%;
				text-align: center;
				line-height: 100rpx;
			}
			.exchange-button{
				width: 60%;
			}
		}
	}
}